/* ===GLOBAL=== */
* {
    box-sizing: border-box;
}
html, body {
    font-size: 16px; 
}
body {
    background: #FFFAFA;
    /* max-width: 1440px; */
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
}
h3 {
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    color: rgb(205, 205, 205);
    font-size: 1.5em;
    margin: 0;
}
p {
    margin-top: 0px !important;
}
fieldset {
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
}
fieldset legend {
    display: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
/* ===PRIMARY=== */

/* ===HEADER=== */
header {
    padding: 20px 20px 0;
    position: relative;
}
#vvi-logo {
    max-height: 100px;
    max-width: calc(100% - 100px);
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Heebo', sans-serif;
    text-transform: uppercase;
    font-size: 1.1rem;
}
nav a, nav a:visited {
    padding: 15px 50px;
    color: rgb(127, 127, 127);
    text-decoration: none;
}
.contact-callout {
    text-align: right;
    color: rgb(39, 101, 134) !important;
    position: absolute;
    right: 20px;
    top: 20px;
}
.contact-callout a.phone-link, 
.contact-callout a.phone-link:visited {
    color: rgb(39, 101, 134) !important;
    text-decoration: none;
}
.contact-callout a.phone-link:hover {
    text-decoration: underline;
}
.contact-callout .form-link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 15px;
    background: rgb(204,221,230);
    color: #000;
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
.contact-callout .form-link:hover {
    background: rgb(153,187,205);
}
/* ===MAIN=== */

/* Introduction Section */
section#introduction {
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8;
}
.hero-image.waiting-room {
    height: 500px;
    background-image: url(./img/photos/VVI_waitingRoom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 45vw;
}
section#introduction article {
    padding: 2em 15%;
    /* padding: 2em calc(30vw - 200px); */
}
.tagline {
    font-size: 2em;
    font-style: italic;
    color: rgb(39, 101, 134);
    margin-bottom: 20px;
}
/* Surgery Center Section */
section#surgery-center .feature-link {
    display: flex;
    font-size: 1rem;
    line-height: 1.8;
    text-decoration: none;
    flex-wrap: wrap;
}
section#surgery-center .feature-link > * {
    flex: 1 0 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 2em 3em;
    min-width: 400px;
}
.feature-link
.feature-description {
    background: rgb(39,93,118);
    color: #fff;
    transition: background .2s;
}
.feature-button {
    background-image: url(./img/blue-triangles.JPG);
    position: relative;
    z-index: 1;
}
.feature-button::after {
    content: '';
    background: #fff;
    opacity: .4;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: opacity .2s;
}
section#surgery-center .feature-link:hover .feature-description {
    background: rgba(39,93,118, .9);
}
section#surgery-center .feature-link:hover .feature-button::after {
    opacity: .6;
}
#surgery-logo {
    max-height: 125px;
    position: relative;
    z-index: 3;
    max-width: 100%;
}

/* Hours and Location Section */
section#hours-and-location {
    display: flex;
    font-size: 1.1rem;
    padding: 2em 15%;

    /* padding: 2em calc(30vw - 200px); */
    justify-content: center;
}
section#hours-and-location :not(h3) {
    color: rgb(39, 101, 134) !important;
    font-style: normal;
}
section#hours-and-location  a {
    text-decoration: none;
}
section#hours-and-location  a:hover {
    text-decoration: underline;
}
.hours-info {
    margin-right: 50px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hours-info > div {
    margin-bottom: 10px;
}
.location-map iframe {
    width: 50vw;
}
/* Contact Section */
#contact {
    padding: 2em 3em;
    background: rgb(39,93,118);
}
#contact-form {
    display: flex;
    flex-wrap: wrap;
}
#contact-form > *:not(button) {
    flex: 1 1 50%;
    min-width: 200px;
}
#contact-form label {
    color: #fff;
    margin-bottom: 4px;
    position: relative;
}
#contact-form label span:not(.checkmark) {
    position: relative;
}
#contact-form .label-required span::after {
    position: absolute;
    content: '*';
    top: 0;
    left: calc(100% + 1px);
    color: rgb(255,253,84);
}
.asterisk-after {
    position: relative;
}
.asterisk-after::after {
    display:inline-block;
    position: absolute;
    content: '*';
    top: 0;
    left: calc(100% + 1px);
    color: rgb(255,253,84);    
}
#contact-form input[type="text"], 
#contact-form input[type="email"],
#contact-form input[type="tel"],
#contact-form textarea {
    padding: 15px;
    border-radius: 0px;
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.4);
    color: #fff;
    width: 100%;
    font-size: 1.3em;
}
#contact-form fieldset.reason-fields, #contact-form fieldset.terms-fields {
    flex-basis: 100%;
}
#contact-form fieldset.terms-fields > * {
    display: inline-block;
}
#contact-form button {
    margin: 0.35em 0.75em 0.625em;
    background-color: rgba(255,255,255,.2);
    border: 1px solid rgba(255,255,255,.6);
    color: #fff;
    cursor: pointer;
    padding: 10px 30px;
}
#contact-form button:hover {
    background-color: rgba(255,255,255,.4);
}
/* ===FOOTER=== */
#cohesion-logo {
    max-height: 150px;
    display: block;
    margin: 0 auto;
    padding: 20px;
}

/* ===CHECKBOX HACK=== */
/* Customize the label (the container) */
.terms-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .terms-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: rgba(255,255,255,.1);
    border: 1px solid rgba(255,255,255,.4)  }
  
  /* On mouse-over, add a grey background color */
  .terms-container:hover input ~ .checkmark {
    background-color: rgba(255,255,255,.4);
  }
  
  /* When the checkbox is checked, add a blue background */
  .terms-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .terms-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .terms-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /* ===POPOVER=== */
  .popover-title {
    color: rgb(255,253,84);    
  }
  .popover-title:hover {
      text-decoration: underline;
  }
  .popover-wrapper {
    position: relative;
    display: inline-block;
  }
  .popover-content {
    display: none;
    position: absolute;
    background-color: #FFFAFA;
    padding: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    min-width: 400px;
    color: rgb(39, 101, 134);
  }
  .popover-wrapper:hover .popover-content {
    display: block;
    z-index: 10;
    bottom: calc(100% + 10px);
  }
  /* ===POPOVER=== */

  @media only screen and (max-width: 980px) {
    nav {
        display: none;
    }
    #vvi-logo {
        margin-bottom: 15px;
    }
    .hero-image {
        margin-top: 15px;
    }
    .contact-callout {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: initial;
        right: initial;
    }
    .contact-callout .form-link {
        margin: 0 0 0 10px;

    }
    section#introduction article, section#hours-and-location, section#contact {
        padding: 2em 5%;
    }
  }
  @media only screen and (max-width: 800px) {
    section#surgery-center .center-link > * {
        flex-basis: 100%;
    }
    .feature-button {
        padding: 1.1em 3em !important;
    }
    #surgery-logo {
        max-height: 75px;
    }

  }
  @media only screen and (max-width: 500px) {
    nav {
        display: none;
    }
    #hours-and-location {
        flex-wrap: wrap;
        align-items: stretch;
        flex-direction: column;
    }
    .hours-info {
        flex-wrap: wrap;
        margin: 0;
        flex-direction: row;
    }
    .hours-info > div {
        flex: 1 0 50%;
    }
    .location-map iframe {
        width: 100%;
    }
  }